:root{
    --soft-blue:hsl(231, 69%, 60%);
    --soft-red:hsl(0, 94%, 66%);
    --grayish-blue:hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}
*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:  'Rubik', sans-serif; 
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav{
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
    align-items: center;
   
}

.nav__logo{
    z-index: 100;
}

.nav__list{
    transform: translateY(-100%);
    position: absolute;
    inset: 0;
    background-color: hsla(229, 31%, 21%, 0.882);
    transition: 3s transform;
    padding: 0;
    padding-top: 100px;
    display: grid;
    grid-template-rows: repeat(4, max-content) 1fr;     

    list-style: none;

    z-index: 10;
}

.nav__social{
    align-self: end;
    justify-self: center;
    padding: 40px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2em;
}

.nav__item{
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #fff;

    padding: 1em 0;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

}

.nav__link{
    text-decoration: none;
    color:#fff;
}

.nav__item:has( .nav__link--cta){
    margin-top: 20px;
    border: 1px solid #fff;
}



.nav__list--show{
    transform: translate(0)

}

.nav__icon{
    z-index: 100;
}

.hero__main{
    max-width: 1200px;
    margin: 0 auto;

   
}

.picture{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "img";
}

.picture::before{
    content: "";
    background-color: var(--soft-blue);
    width: 70%;
    height: 75%;
    margin-left: auto;
    grid-area: img;
    align-self: end;
    border-radius: 80px 0 0 80px;
}



.img{
    width: 90%;
    margin: 0 auto;
    grid-area: img;
}

.hero__texts{
    padding: 52px 0 80px;
    text-align: center;
}

.hero__title{
    font-size: 2.1rem;
    color: var(--very-dark-blue);
    font-weight: 400;
}


.hero__paragraph{
    line-height: 1.5;
    margin: 20px 0 28px;
    color: var(--grayish-blue);
}

.hero__buttons{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1.2em;
}

.hero__button{
    text-decoration: none;
    color: #fff;
    background-color: var(--soft-blue);
    padding: 1em;
    text-align: center;
    border-radius: 8px;
}

.hero__button--special{
    background-color: #fff;
    color: var(--very-dark-blue);
    font-weight: 400;
    box-shadow: 0 0 10px -7px;
}

.features{
    text-align: center;
}

.subtitle{
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--very-dark-blue);
}

.paragraph{
    color: var(--grayish-blue);
    line-height: 1.5;
    margin-top: 1.2em;
}

.features__tabs{
    display: grid;
    list-style: none;
    padding: 0;
    padding-top: 3em 0;
    
}

.features__tab:nth-of-type(1){
    border-top: 1px solid var(--grayish-blue);
}



.features__tab{
    padding: 1.8em 0;
    border-bottom: 1px solid var(--grayish-blue);
}

.features__link{
    display: inline-block;
    padding: 1.8em 0;
    text-decoration: none;
    color: var(--very-dark-blue );
    border-bottom: 4px solid transparent;
}

.features__link--active{
    border-bottom: 4px solid var(--soft-red)
}

.img--tabs{
    padding: 40px 0;

}

.picture:has( .img--tabs)::before{
    margin-left: unset;
    border-radius: 0 80px 80px 0;
}

.features__texts{
    padding: 80px 0;
}

.features__cta{
    background-color: var(--soft-blue);
    padding: 1em 1.8em;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 1.5em;
    display: inline-block

}

.features__navigation{
    display: grid;
    grid-template-areas: "section";
}

.features__section{
    grid-area: section;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.features__section--active{
    opacity: 1;
    pointer-events: unset;

}

.extension{
    text-align: center;
    padding-bottom: 80px;

}


.extension__cards{
    margin-top: 44px;

}

.extension__card{
    width: 95%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 13px -8px var(--soft-blue);
    padding: 3em 0;
}

.extension__name{
    margin: 1.3rem 0 .5rem;
    font-size: 1.4rem;
}

.extension__version{
    color: var(--grayish-blue);
}

.extension__dots{
    display: block;
    margin: 2.3em 0;
}

.extension__cta{
    background-color: var(--soft-blue);
    color: #fff;
    text-decoration: none;
    display: block;
    width: 90%;
    padding: 1.3em;
    border-radius: 12px;
    margin: 0 auto;
}